{% extends "base.html" %}

{% block content %}
  <h2>Оформлення підписки</h2>
  <form action="{% url 'checkout' %}" method="POST">
    {% csrf_token %}
    <script src="https://js.stripe.com/v3/"></script>
    <button id="checkout-button">Оплатити $25 за преміум підписку</button>
  </form>

  <script type="text/javascript">
    var stripe = Stripe('{{ stripe_public_key }}');
    var checkoutButton = document.getElementById('checkout-button');
    checkoutButton.addEventListener('click', function () {
      stripe.redirectToCheckout({ sessionId: '{{ session_id }}' });
    });
  </script>
{% endblock %}
